.container {
    width: 700px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title2 {
    text-align: center;
    color: grey;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}


.buttons {
    width: 400px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

input{
    height: 40px;
    width: 100%; 
    padding: 12px;   
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

button {
    background-color: #627FB8;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}



